header { 
  background-color: lightgreen ;
  color: black;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif; /*google font*/
  font-size: 50px;
}

td {
background-color: lightgoldenrodyellow;
  border: 5px solid black;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}




th {
  background-color: deepskyblue;
  border: 5px solid black;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 28px;
}

a:hover {
    background-color:limegreen;
  
  };


body {
  background-color: lightgray;
}

table {
  margin: auto;
  text-align: center;
}